playbook-Calculate_Severity_-_Generic_v2.yml
contentitemexportablefields:
  contentitemfields:
    fromServerVersion: ""
    itemVersion: 1.8.5
    packID: CommonPlaybooks
    packPropagationLabels:
    - all
    propagationLabels: []
    toServerVersion: ""
description: |-
  Calculate and assign the incident severity based on the highest returned severity level from the following calculations:

  - DBotScores of indicators
  - Critical assets
  - Email authenticity
  - Current incident severity
id: Calculate Severity - Generic v2
inputs:
- description: 'Array of all indicators associated with the incident. '
  key: DBotScore
  playbookInputQuery: null
  required: false
  value:
    complex:
      root: DBotScore
- description: CSV of usernames of critical users.
  key: CriticalUsers
  playbookInputQuery: null
  required: false
  value:
    simple: admin,administrator
- description: CSV of hostnames of critical endpoints.
  key: CriticalEndpoints
  playbookInputQuery: null
  required: false
  value:
    simple: admin
- description: CSV of DN names of critical AD groups.
  key: CriticalGroups
  playbookInputQuery: null
  required: false
  value:
    simple: admins,administrators
- description: User accounts to check against the critical lists.
  key: Account
  playbookInputQuery: null
  required: false
  value:
    complex:
      root: Account
      transformers:
      - operator: uniq
- description: Endpoints to check against the CriticalEndpoints list.
  key: Endpoint
  playbookInputQuery: null
  required: false
  value:
    complex:
      root: Endpoint
      transformers:
      - operator: uniq
- description: 'Indicates the email authenticity resulting from the EmailAuthenticityCheck
    script. Possible values are: Pass, Fail, Suspicious, and Undetermined.'
  key: EmailAuthenticityCheck
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: AuthenticityCheck
      root: Email
      transformers:
      - operator: uniq
name: Calculate Severity - Generic v2
outputs:
- contextPath: CriticalAssets
  description: All critical assets involved in the incident.
  type: unknown
- contextPath: CriticalAssets.CriticalEndpoints
  description: Critical endpoints involved in the incident.
  type: unknown
- contextPath: CriticalAssets.CriticalEndpointGroups
  description: Critical endpoint-groups involved in the incident.
  type: unknown
- contextPath: CriticalAssets.CriticalUsers
  description: Critical users involved in the incident.
  type: unknown
- contextPath: CriticalAssets.CriticalUserGroups
  description: Critical user-groups involved in the incident.
  type: unknown
starttaskid: "0"
system: true
tasks:
  "0":
    id: "0"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "16"
      - "19"
      - "18"
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d3a3d290-90e0-4101-8f6c-aaa23bcc3e1c
      iscommand: false
      name: ""
      version: -1
    taskid: d3a3d290-90e0-4101-8f6c-aaa23bcc3e1c
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 910,
          "y": 30
        }
      }
  "4":
    id: "4"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedhosts: {}
      affectedindividualscontactinformation: {}
      affectedips: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      arcsightcaseid: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentitem: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      backupowner: {}
      blah: {}
      booltest: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      criticalassets: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      daysbetweenreportcreation: {}
      deleteEmptyField: {}
      dest: {}
      destinationip: {}
      destntdomain: {}
      details: {}
      detectedusers: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailauthenticitycheck: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailbodyhtmlraw: {}
      emailcc: {}
      emailclassification: {}
      emailclientname: {}
      emailfrom: {}
      emailfromdisplayname: {}
      emailhtml: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderdomain: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailsubjectlanguage: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      eventid: {}
      falses: {}
      fetchid: {}
      fetchtype: {}
      filehash: {}
      filename: {}
      filepath: {}
      hostid: {}
      hostname: {}
      htmlimage: {}
      htmlrenderedimage: {}
      id: {}
      important: {}
      importantfield: {}
      isthedatasubjecttodpia: {}
      killchain: {}
      labels: {}
      likelyimpact: {}
      lob: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      mdtest: {}
      measurestomitigate: {}
      myfield: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      phishingsubtype: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      queues: {}
      relateddomain: {}
      replacePlaybook: {}
      reporteduser: {}
      reportinguser: {}
      roles: {}
      screenshot: {}
      screenshot2: {}
      sectorofaffectedparty: {}
      selector: {}
      severity:
        simple: low
      signature: {}
      single: {}
      single2: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      source: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      systems: {}
      team: {}
      telephoneno: {}
      test: {}
      test2: {}
      testfield: {}
      timeassignedtolevel2: {}
      timefield1: {}
      timelevel1: {}
      type: {}
      user: {}
      username: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
      xdr: {}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets the incident severity to "Low".
      id: cf430274-2565-4433-8dfe-a25a621b0a7c
      iscommand: true
      name: Set incident severity to "Low"
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: cf430274-2565-4433-8dfe-a25a621b0a7c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 62,
          "y": 770
        }
      }
  "5":
    id: "5"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedhosts: {}
      affectedindividualscontactinformation: {}
      affectedips: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      arcsightcaseid: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentitem: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      backupowner: {}
      blah: {}
      booltest: {}
      bugtraq: {}
      campaigntargetcount: {}
      campaigntargets: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      criticalassets: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      daysbetweenreportcreation: {}
      deleteEmptyField: {}
      dest: {}
      destinationip: {}
      destntdomain: {}
      details: {}
      detectedusers: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailauthenticitycheck: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailbodyhtmlraw: {}
      emailcc: {}
      emailclassification: {}
      emailclientname: {}
      emailfrom: {}
      emailfromdisplayname: {}
      emailhtml: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderdomain: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailsubjectlanguage: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      eventid: {}
      falses: {}
      fetchid: {}
      fetchtype: {}
      filehash: {}
      filename: {}
      filepath: {}
      hostid: {}
      hostname: {}
      htmlimage: {}
      htmlrenderedimage: {}
      id: {}
      important: {}
      importantfield: {}
      isthedatasubjecttodpia: {}
      killchain: {}
      labels: {}
      likelyimpact: {}
      lob: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      mdtest: {}
      measurestomitigate: {}
      myfield: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      phishingsubtype: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      queues: {}
      relateddomain: {}
      replacePlaybook: {}
      reporteduser: {}
      reportinguser: {}
      roles: {}
      screenshot: {}
      screenshot2: {}
      sectorofaffectedparty: {}
      selector: {}
      severity:
        simple: medium
      signature: {}
      single: {}
      single2: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      source: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      systems: {}
      team: {}
      telephoneno: {}
      test: {}
      test2: {}
      testfield: {}
      timeassignedtolevel2: {}
      timefield1: {}
      timelevel1: {}
      type: {}
      user: {}
      username: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
      xdr: {}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets the incident severity to "Medium".
      id: 4def42ba-2984-40f3-83c0-ec484edc3b97
      iscommand: true
      name: Set incident severity to "Medium"
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 4def42ba-2984-40f3-83c0-ec484edc3b97
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 483,
          "y": 770
        }
      }
  "6":
    id: "6"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedhosts: {}
      affectedindividualscontactinformation: {}
      affectedips: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      arcsightcaseid: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentitem: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      backupowner: {}
      blah: {}
      booltest: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      daysbetweenreportcreation: {}
      deleteEmptyField: {}
      dest: {}
      destinationip: {}
      destntdomain: {}
      details: {}
      detectedusers: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailbodyhtmlraw: {}
      emailcc: {}
      emailclassification: {}
      emailclientname: {}
      emailfrom: {}
      emailfromdisplayname: {}
      emailhtml: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderdomain: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailsubjectlanguage: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      eventid: {}
      falses: {}
      fetchid: {}
      fetchtype: {}
      filehash: {}
      filename: {}
      filepath: {}
      hostid: {}
      hostname: {}
      htmlimage: {}
      htmlrenderedimage: {}
      id: {}
      important: {}
      importantfield: {}
      isthedatasubjecttodpia: {}
      killchain: {}
      labels: {}
      likelyimpact: {}
      lob: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      mdtest: {}
      measurestomitigate: {}
      myfield: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      phishingsubtype: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      queues: {}
      relateddomain: {}
      replacePlaybook: {}
      reporteduser: {}
      reportinguser: {}
      roles: {}
      screenshot: {}
      screenshot2: {}
      sectorofaffectedparty: {}
      selector: {}
      severity:
        simple: high
      signature: {}
      single: {}
      single2: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      source: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      systems: {}
      team: {}
      telephoneno: {}
      test: {}
      test2: {}
      testfield: {}
      timeassignedtolevel2: {}
      timefield1: {}
      timelevel1: {}
      type: {}
      user: {}
      username: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
      xdr: {}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets the incident severity to "High".
      id: 132c16ae-fb69-4752-8f79-77923b14ca8c
      iscommand: true
      name: Set incident severity to "High"
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 132c16ae-fb69-4752-8f79-77923b14ca8c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1333,
          "y": 770
        }
      }
  "10":
    id: "10"
    ignoreworker: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8ee3e05c-0da8-405d-8bb8-a2d7bbf7789f
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 8ee3e05c-0da8-405d-8bb8-a2d7bbf7789f
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1050
        }
      }
  "11":
    id: "11"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedhosts: {}
      affectedindividualscontactinformation: {}
      affectedips: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      arcsightcaseid: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentitem: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      backupowner: {}
      blah: {}
      booltest: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      daysbetweenreportcreation: {}
      deleteEmptyField: {}
      dest: {}
      destinationip: {}
      destntdomain: {}
      details: {}
      detectedusers: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailbodyhtmlraw: {}
      emailcc: {}
      emailclassification: {}
      emailclientname: {}
      emailfrom: {}
      emailfromdisplayname: {}
      emailhtml: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderdomain: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailsubjectlanguage: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      eventid: {}
      falses: {}
      fetchid: {}
      fetchtype: {}
      filehash: {}
      filename: {}
      filepath: {}
      hostid: {}
      hostname: {}
      htmlimage: {}
      htmlrenderedimage: {}
      id: {}
      important: {}
      importantfield: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      mdtest: {}
      measurestomitigate: {}
      myfield: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      phishingsubtype: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      relateddomain: {}
      replacePlaybook: {}
      reporteduser: {}
      reportinguser: {}
      roles: {}
      screenshot: {}
      screenshot2: {}
      sectorofaffectedparty: {}
      selector: {}
      severity:
        simple: critical
      signature: {}
      single: {}
      single2: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      source: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      systems: {}
      team: {}
      telephoneno: {}
      test: {}
      test2: {}
      testfield: {}
      timeassignedtolevel2: {}
      timefield1: {}
      timelevel1: {}
      type: {}
      user: {}
      username: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
      xdr: {}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets the incident severity to "Critical".
      id: c7b36df3-1ae7-4b18-819f-9b85d96c4858
      iscommand: true
      name: Set incident severity to "Critical"
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: c7b36df3-1ae7-4b18-819f-9b85d96c4858
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1750,
          "y": 770
        }
      }
  "15":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Severities.DBotScoreSeverity
                    operator: containsGeneral
                    right:
                      value:
                        simple: Critical
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Severities.CriticalAssetsSeverity
                    operator: containsGeneral
                    right:
                      value:
                        simple: Critical
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Severities.EmailAuthenticitySeverity
                    operator: containsGeneral
                    right:
                      value:
                        simple: Critical
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Severities.IncidentSeverity
                    operator: isEqualString
                    right:
                      value:
                        simple: "4"
                root: Severities
          operator: isExists
      label: Critical
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Severities.DBotScoreSeverity
                    operator: containsGeneral
                    right:
                      value:
                        simple: High
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Severities.CriticalAssetsSeverity
                    operator: containsGeneral
                    right:
                      value:
                        simple: High
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Severities.EmailAuthenticitySeverity
                    operator: containsGeneral
                    right:
                      value:
                        simple: High
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Severities.IncidentSeverity
                    operator: isEqualString
                    right:
                      value:
                        simple: "3"
                root: Severities
          operator: isExists
      label: High
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Severities.DBotScoreSeverity
                    operator: containsGeneral
                    right:
                      value:
                        simple: Medium
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Severities.CriticalAssetsSeverity
                    operator: containsGeneral
                    right:
                      value:
                        simple: Medium
                  - left:
                      iscontext: true
                      value:
                        simple: Severities.EmailAuthenticitySeverity
                    operator: containsGeneral
                    right:
                      value:
                        simple: Medium
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Severities.IncidentSeverity
                    operator: isEqualString
                    right:
                      value:
                        simple: "2"
                root: Severities
          operator: isExists
      label: Medium
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Severities.DBotScoreSeverity
                    operator: containsGeneral
                    right:
                      value:
                        simple: Low
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Severities.CriticalAssetsSeverity
                    operator: containsGeneral
                    right:
                      value:
                        simple: Low
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Severities.EmailAuthenticitySeverity
                    operator: containsGeneral
                    right:
                      value:
                        simple: Low
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Severities.IncidentSeverity
                    operator: isEqualString
                    right:
                      value:
                        simple: "1"
                root: Severities
          operator: isExists
      label: Low
    id: "15"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "25"
      Critical:
      - "11"
      High:
      - "6"
      Low:
      - "4"
      Medium:
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines the severity level based on the highest result of all
        severity calculations.
      id: bbfdfe72-13f4-48a2-8cbb-79fd7952704b
      iscommand: false
      name: Determine incident severity
      type: condition
      version: -1
    taskid: bbfdfe72-13f4-48a2-8cbb-79fd7952704b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 910,
          "y": 570
        }
      }
  "16":
    id: "16"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Severities.IncidentSeverity
      value:
        complex:
          accessor: severity
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sets the current severity of the incident in the context.
      id: 740266f8-5732-4285-81a1-d19dbea15988
      iscommand: false
      name: Get current incident severity
      script: Set
      type: regular
      version: -1
    taskid: 740266f8-5732-4285-81a1-d19dbea15988
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1120,
          "y": 185
        }
      }
  "18":
    id: "18"
    ignoreworker: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      Account:
        complex:
          root: inputs.Account
          transformers:
          - operator: uniq
      CriticalEndpoints:
        complex:
          root: inputs.CriticalEndpoints
          transformers:
          - operator: uniq
      CriticalGroups:
        complex:
          root: inputs.CriticalGroups
          transformers:
          - operator: uniq
      CriticalUsers:
        complex:
          root: inputs.CriticalUsers
          transformers:
          - operator: uniq
      Endpoint:
        complex:
          root: inputs.Endpoint
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Determines if a critical assest is associated with the invesigation. The playbook returns a severity level of "Critical" if at least one critical asset is associated with the investigation.
        Critical assets refer to: users, user groups, endpoints and endpoint groups.
      id: 29bad58f-8797-49ff-8681-68363fc8e9a5
      iscommand: false
      name: Calculate Severity - Critical Assets v2
      playbookId: Calculate Severity - Critical Assets v2
      type: playbook
      version: -1
    taskid: 29bad58f-8797-49ff-8681-68363fc8e9a5
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 700,
          "y": 185
        }
      }
  "19":
    id: "19"
    ignoreworker: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      DBotScore:
        complex:
          root: inputs.DBotScore
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Calculates the incident severity level according to the highest
        indicator DBotScore.
      id: b20ff842-f44e-4314-8d7a-ce51e1d69c16
      iscommand: false
      name: Calculate Severity By Highest DBotScore
      playbookId: Calculate Severity By Highest DBotScore
      type: playbook
      version: -1
    taskid: b20ff842-f44e-4314-8d7a-ce51e1d69c16
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1533,
          "y": 185
        }
      }
  "24":
    id: "24"
    ignoreworker: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      EmailAuthenticityCheck:
        complex:
          root: inputs.EmailAuthenticityCheck
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: Calculates a severity according to the verdict coming from the
        CheckEmailAuthenticity script.
      id: 1a13e3e0-18fb-4c0f-8866-9d56b0df1017
      iscommand: false
      name: Calculate Severity By Email Authenticity
      playbookId: Calculate Severity By Email Authenticity
      type: playbook
      version: -1
    taskid: 1a13e3e0-18fb-4c0f-8866-9d56b0df1017
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 280,
          "y": 185
        }
      }
  "25":
    id: "25"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedhosts: {}
      affectedindividualscontactinformation: {}
      affectedips: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentitem: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      backupowner: {}
      bugtraq: {}
      campaigntargetcount: {}
      campaigntargets: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      criticalassets: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      daysbetweenreportcreation: {}
      deleteEmptyField: {}
      dest: {}
      destinationip: {}
      destntdomain: {}
      details: {}
      detectedusers: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailauthenticitycheck: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailbodyhtmlraw: {}
      emailcc: {}
      emailclassification: {}
      emailclientname: {}
      emailfrom: {}
      emailfromdisplayname: {}
      emailhtml: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderdomain: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailsubjectlanguage: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      eventid: {}
      falses: {}
      fetchid: {}
      fetchtype: {}
      filehash: {}
      filename: {}
      filepath: {}
      hostid: {}
      hostname: {}
      htmlimage: {}
      htmlrenderedimage: {}
      id: {}
      important: {}
      importantfield: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      mdtest: {}
      measurestomitigate: {}
      myfield: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      phishingsubtype: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      relateddomain: {}
      replacePlaybook: {}
      reporteduser: {}
      reportinguser: {}
      roles: {}
      screenshot: {}
      screenshot2: {}
      sectorofaffectedparty: {}
      selector: {}
      severity:
        simple: unknown
      signature: {}
      single: {}
      single2: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      source: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      systems: {}
      telephoneno: {}
      test: {}
      test2: {}
      testfield: {}
      timeassignedtolevel2: {}
      timefield1: {}
      timelevel1: {}
      type: {}
      user: {}
      username: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
      xdr: {}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets the incident severity to "Unknown".
      id: e042ddb9-d13d-492a-8ac4-95edfbf9a927
      iscommand: true
      name: Set incident severity level to "Unknown"
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: e042ddb9-d13d-492a-8ac4-95edfbf9a927
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 865
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "15_11_Critical": 0.9,
      "15_25_#default#": 0.59,
      "15_4_Low": 0.9,
      "15_5_Medium": 0.81,
      "15_6_High": 0.82
    },
    "paper": {
      "dimensions": {
        "height": 1085,
        "width": 2068,
        "x": 62,
        "y": 30
      }
    }
  }
