playbook-Extract_Indicators_From_File_-_Generic_v2.yml
contentitemexportablefields:
  contentitemfields:
    fromServerVersion: ""
    itemVersion: 1.8.5
    packID: CommonPlaybooks
    packPropagationLabels:
    - all
    propagationLabels: []
    toServerVersion: ""
description: |-
  Extracts indicators from a file.
  Supported file types:
  - CSV
  - PDF
  - TXT
  - HTM, HTML
  - DOC, DOCX
  - PPT
  - PPTX
  - RTF
  - XLS
  - XLSX
  - XML
id: Extract Indicators From File - Generic v2
inputs:
- description: The file from which to extract indicators.
  key: File
  playbookInputQuery: null
  required: false
  value:
    complex:
      root: File
name: Extract Indicators From File - Generic v2
outputs:
- contextPath: Domain.Name
  description: Extracted domains.
- contextPath: Account.Email.Address
  description: Extracted emails addresses.
- contextPath: File.MD5
  description: Extracted MD5 hash.
- contextPath: File.SHA1
  description: Extracted SHA1 hash.
- contextPath: File.SHA256
  description: Extracted SHA256 hash.
- contextPath: IP.Address
  description: Extracted IP addresses.
- contextPath: File.Text
  description: The text or images extracted from the PDF file.
- contextPath: File.Producer
  description: The PDF file producer.
- contextPath: File.Title
  description: The title of the PDF file.
- contextPath: File.xap
  description: The xap of the PDF file.
- contextPath: File.Author
  description: The author of the file.
- contextPath: File.dc
  description: The dc of the file.
- contextPath: File.xapmm
  description: The xapmm of the file.
- contextPath: File.ModDate
  description: The ModDate of the file.
- contextPath: File.CreationDate
  description: The CreationDate of the file.
- contextPath: File.Pages
  description: Number of pages in file.
- contextPath: URL.Data
  description: List of URLs that were extracted from the file.
  type: unknown
starttaskid: "0"
system: true
tasks:
  "0":
    id: "0"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7820586b-f2e6-4673-8dd8-08caab0d1173
      iscommand: false
      name: ""
      version: -1
    taskid: 7820586b-f2e6-4673-8dd8-08caab0d1173
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 265,
          "y": -20
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                root: inputs.File
          operator: isExists
      label: "yes"
    id: "1"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Checks if there is a file in the playbook input.
      id: 7872ce6f-5e06-4c00-846b-6de0d54307b1
      iscommand: false
      name: Is there a file?
      type: condition
      version: -1
    taskid: 7872ce6f-5e06-4c00-846b-6de0d54307b1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 115
        }
      }
  "2":
    id: "2"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      append: {}
      key:
        simple: File
      value:
        complex:
          root: inputs.File
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set the input file into local context.
      id: ae4c0ec9-1082-477b-8b41-dc412d1377e5
      iscommand: false
      name: Set file to local context
      script: Set
      type: regular
      version: -1
    taskid: ae4c0ec9-1082-477b-8b41-dc412d1377e5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 510,
          "y": 350
        }
      }
  "3":
    id: "3"
    ignoreworker: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 832242ed-942e-4094-8cf4-003921e7ef7a
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 832242ed-942e-4094-8cf4-003921e7ef7a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 510,
          "y": 1730
        }
      }
  "4":
    id: "4"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "5"
      - "7"
      - "9"
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ab59c7dd-3e82-4efe-8e36-d3065d88a590
      iscommand: false
      name: Extract Indicators From Files
      type: title
      version: -1
    taskid: ab59c7dd-3e82-4efe-8e36-d3065d88a590
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 510,
          "y": 535
        }
      }
  "5":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: containsString
                    right:
                      value:
                        simple: ASCII text
                  - left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: containsString
                    right:
                      value:
                        simple: Rich Text Format
                  - left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: containsString
                    right:
                      value:
                        simple: UTF-8 Unicode text
                - - left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: notContainsString
                    right:
                      value:
                        simple: news or mail
                - - left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: eml
                - - left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: msg
                - - left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: notContainsString
                    right:
                      value:
                        simple: Composite Document File V2 Document, No summary info
                - - left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: notContainsString
                    right:
                      value:
                        simple: message/rfc822
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: text/rtf
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: rtf
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: notContainsGeneral
                    right:
                      value:
                        simple: xml
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: notContainsGeneral
                    right:
                      value:
                        simple: text/rtf
                root: File
                transformers:
                - operator: uniq
          operator: isExists
      label: "yes"
    id: "5"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is a text-based file in context. Skips MSG and
        EML files.
      id: ec94113f-b87d-40e7-80da-93bfd4262a37
      iscommand: false
      name: Is there a text-based file?
      type: condition
      version: -1
    taskid: ec94113f-b87d-40e7-80da-93bfd4262a37
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 92.5,
          "y": 700
        }
      }
  "6":
    id: "6"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      entryID:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Type
              operator: containsString
              right:
                value:
                  simple: ASCII text
            - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: containsString
              right:
                value:
                  simple: Rich Text Format
            - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: containsString
              right:
                value:
                  simple: UTF-8 Unicode
          - - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: notContainsString
              right:
                value:
                  simple: news or mail
          - - left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: eml
          - - left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: msg
          - - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: notContainsString
              right:
                value:
                  simple: Composite Document File V2 Document, No summary info
          - - left:
                iscontext: true
                value:
                  simple: File.Info
              operator: notContainsString
              right:
                value:
                  simple: message/rfc822
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: text/rtf
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: rtf
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: notContainsGeneral
              right:
                value:
                  simple: xml
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Type
              operator: notContainsGeneral
              right:
                value:
                  simple: text/rtf
          root: File
          transformers:
          - operator: uniq
      maxFileSize: {}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Extracts indicators from text-based files.
      id: 2fa182d1-a775-4c81-8e7d-d63474ec434b
      iscommand: false
      name: Extract indicators from text-based file
      script: ExtractIndicatorsFromTextFile
      type: regular
      version: -1
    taskid: 2fa182d1-a775-4c81-8e7d-d63474ec434b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 92.5,
          "y": 1000
        }
      }
  "7":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: containsString
                    right:
                      value:
                        simple: pdf
                - - left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: containsString
                    right:
                      value:
                        simple: pdf
                root: File
                transformers:
                - operator: uniq
          operator: isExists
      label: "yes"
    id: "7"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is a PDF file in context.
      id: 79feacf1-749d-4213-85ce-9b87809c59cf
      iscommand: false
      name: Is there a PDF file?
      type: condition
      version: -1
    taskid: 79feacf1-749d-4213-85ce-9b87809c59cf
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 930,
          "y": 700
        }
      }
  "8":
    id: "8"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      entryID:
        complex:
          accessor: EntryID
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: isEqualString
              right:
                value:
                  simple: application/pdf
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: containsString
              right:
                value:
                  simple: application/pdf
          root: File
          transformers:
          - operator: uniq
      maxImages: {}
      userPassword: {}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Load a PDF file's content and metadata into context.
      id: f954fb51-0ed0-44d2-837a-64f852f3dd9d
      iscommand: false
      name: Extract indicators from PDF file
      script: ReadPDFFileV2
      type: regular
      version: -1
    taskid: f954fb51-0ed0-44d2-837a-64f852f3dd9d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 930,
          "y": 1000
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: containsString
                    right:
                      value:
                        simple: Composite Document File V2 Document
                  - left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: containsString
                    right:
                      value:
                        simple: Microsoft Word
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: docx
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: msg
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: eml
                - - left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isNotExists
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: xls
                - - left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isNotExists
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: xlsx
                - - left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: isNotExists
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: notContainsString
                    right:
                      value:
                        simple: Excel
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: ppt
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: pptx
                root: File
                transformers:
                - operator: uniq
          operator: isExists
      label: "yes"
    id: "9"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is a Word file (DOC, DOCX) in context.
      id: ea30b950-c393-43b3-8f33-1804d071bb4b
      iscommand: false
      name: Is there a Word file?
      type: condition
      version: -1
    taskid: ea30b950-c393-43b3-8f33-1804d071bb4b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 510,
          "y": 700
        }
      }
  "10":
    id: "10"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 371fb092-fd79-4550-8b2e-d3c945d2cc10
      iscommand: false
      name: No File To Parse
      type: title
      version: -1
    taskid: 371fb092-fd79-4550-8b2e-d3c945d2cc10
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -350,
          "y": 950
        }
      }
  "11":
    id: "11"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      entryID:
        complex:
          accessor: EntryID
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: containsString
              right:
                value:
                  simple: Composite Document File V2 Document
            - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: containsString
              right:
                value:
                  simple: Microsoft Word
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: docx
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: msg
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: eml
          - - left:
                iscontext: true
                value:
                  simple: File.Extension
              operator: isNotExists
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Extension
              operator: isNotEqualString
              right:
                value:
                  simple: xls
          - - left:
                iscontext: true
                value:
                  simple: File.Extension
              operator: isNotExists
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Extension
              operator: isNotEqualString
              right:
                value:
                  simple: xlsx
          - - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: isNotExists
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Type
              operator: notContainsString
              right:
                value:
                  simple: Excel
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: ppt
          - - left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: pptx
          root: File
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Extracts indicators from word files (DOC, DOCX).
      id: bccca988-5145-4391-8476-945618df7c72
      iscommand: false
      name: Extract indicators from Word file
      script: ExtractIndicatorsFromWordFile
      type: regular
      version: -1
    taskid: bccca988-5145-4391-8476-945618df7c72
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 510,
          "y": 1000
        }
      }
  "12":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Info
                    operator: isEqualString
                    right:
                      value:
                        simple: image/png
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Info
                    operator: isEqualString
                    right:
                      value:
                        simple: image/jpg
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Info
                    operator: isEqualString
                    right:
                      value:
                        simple: image/jpeg
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Info
                    operator: isEqualString
                    right:
                      value:
                        simple: image/gif
                root: File
                transformers:
                - operator: uniq
          operator: isExists
      label: "yes"
    id: "12"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether images were extracted from PDF files.
      id: 01853d00-5297-4e59-83fa-1aec87f7b3aa
      iscommand: false
      name: Were images extracted?
      type: condition
      version: -1
    taskid: 01853d00-5297-4e59-83fa-1aec87f7b3aa
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1180,
          "y": 1360
        }
      }
  "13":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Image OCR
                root: modules
          operator: isExists
      label: "yes"
    id: "13"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether there is an active instance of the Image OCR integration
        enabled.
      id: 60827e91-7450-4f79-8e82-863488b15371
      iscommand: false
      name: Is Image OCR enabled?
      type: condition
      version: -1
    taskid: 60827e91-7450-4f79-8e82-863488b15371
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1060,
          "y": 1170
        }
      }
  "14":
    id: "14"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      entryid:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/png
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/jpg
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/jpeg
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/gif
          root: File
          transformers:
          - operator: uniq
      langs: {}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Extracts text from PNG, JPEG, and GIF image files, and uses auto-extract
        to get reputation for indicators.
      id: 19fe4f88-c55b-4f13-814c-1ad0aae31cae
      iscommand: true
      name: Extract text from images
      script: '|||image-ocr-extract-text'
      type: regular
      version: -1
    taskid: 19fe4f88-c55b-4f13-814c-1ad0aae31cae
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1300,
          "y": 1540
        }
      }
  "15":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: ppt
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: pptx
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: rtf
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: xls
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: xlsx
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: containsGeneral
                    right:
                      value:
                        simple: xml
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: containsGeneral
                    right:
                      value:
                        simple: vnd.ms-powerpoint
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: containsGeneral
                    right:
                      value:
                        simple: vnd.ms-excel
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: containsGeneral
                    right:
                      value:
                        simple: text/rtf
                root: File
                transformers:
                - operator: uniq
          operator: isExists
      label: "yes"
    id: "15"
    ignoreworker: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Checks if one of the following file types exists:
        - PPT
        - PPTX
        - RTF
        - XLS
        - XLSX
        - XML
      id: b7677e2a-e24c-42f2-845e-0a0b8138222c
      iscommand: false
      name: Is there another supported document type?
      type: condition
      version: -1
    taskid: b7677e2a-e24c-42f2-845e-0a0b8138222c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1540,
          "y": 700
        }
      }
  "16":
    id: "16"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      all_files:
        simple: "yes"
      entry_id:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: ppt
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: pptx
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: rtf
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: xls
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: xlsx
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: containsGeneral
              right:
                value:
                  simple: xml
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: containsGeneral
              right:
                value:
                  simple: vnd.ms-powerpoint
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: containsGeneral
              right:
                value:
                  simple: vnd.ms-excel
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: containsGeneral
              right:
                value:
                  simple: text/rtf
          root: File
          transformers:
          - operator: uniq
      format: {}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Converts the following formats to PDF format:
        - PPT
        - PPTX
        - RTF
        - XLS
        - XLSX
        - XML
      id: 152dad0a-3204-4907-8bf3-a81f8f6af520
      iscommand: false
      name: Convert document to PDF
      script: ConvertFile
      type: regular
      version: -1
    taskid: 152dad0a-3204-4907-8bf3-a81f8f6af520
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1540,
          "y": 970
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "12_14_yes": 0.55,
      "12_3_#default#": 0.34,
      "13_12_yes": 0.55,
      "13_3_#default#": 0.19,
      "15_16_yes": 0.38,
      "1_10_#default#": 0.15,
      "5_10_#default#": 0.36,
      "5_6_yes": 0.36,
      "7_10_#default#": 0.1,
      "7_8_yes": 0.38,
      "9_10_#default#": 0.21,
      "9_11_yes": 0.35
    },
    "paper": {
      "dimensions": {
        "height": 1815,
        "width": 2270,
        "x": -350,
        "y": -20
      }
    }
  }
